body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #fdfdfd;
      color: #333;
    }

header {
      background-color: #b6ffcc;
      padding: 1rem;
      text-align: center;
    }